---
---

@import "{{ site.theme }}";
a:hover:not(.title):not(.cv_button) {
   text-decoration: underline;
   font-weight: normal;
}

.cv_button {
    background-color: white;
    border: 2px solid #008CBA;
    color: #008CBA;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 0px 20px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.cv_button:hover {
    background-color: #008CBA;  /* Blue */
    color: white;
    text-decoration: none;
}

.cv {
    text-align: center;
}
